# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

In [5]:
cur.execute("""select lastName, firstName, city, state from employees
                        join offices
                        using(officeCode) ORDER BY firstName, lastName;
                       """)
df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cur.description]
df

     lastName firstName           city       state
0      Fixter      Andy         Sydney
1         Bow   Anthony  San Francisco          CA
2       Jones     Barry         London
3      Murphy     Diane  San Francisco          CA
4       Tseng  Foon Yue            NYC          NY
5      Vanauf    George            NYC          NY
6      Bondur    Gerard          Paris
7   Hernandez    Gerard          Paris
8    Firrelli      Jeff  San Francisco          CA
9    Firrelli     Julie         Boston          MA
10       Bott     Larry         London
11   Jennings    Leslie  San Francisco          CA
12   Thompson    Leslie  San Francisco          CA
13     Bondur      Loui          Paris
14      Nishi      Mami          Tokyo  Chiyoda-Ku
15     Gerard    Martin          Paris
16  Patterson      Mary  San Francisco          CA
17   Castillo    Pamela          Paris
18      Marsh     Peter         Sydney
19  Patterson     Steve         Boston          MA
20       King       Tom         Sydney
21  Patterson   William         Sydney
22       Kato   Yoshimi          Tokyo  Chiyoda-Ku

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [8]:
cur.execute("""select * from payments
                        join customers
                        using(customerNumber)
                       """)
df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cur.description]
df

,customerNumber,checkNumber,paymentDate,amount,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,103,HQ336336,2004-10-19,6066.78,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00
1,103,JM555205,2003-06-05,14571.44,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00
2,103,OM314933,2004-12-18,1676.14,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00
3,112,BO864823,2004-12-17,14191.12,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,USA,1166,71800.00
4,112,HQ55022,2003-06-06,32641.98,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,USA,1166,71800.00
5,112,ND748579,2004-08-20,33347.88,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,USA,1166,71800.00
6,114,GG31455,2003-05-20,45864.03,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.00
7,114,MA765515,2004-12-15,82261.22,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.00
8,114,NP603840,2003-05-31,7565.08,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.00
9,114,NR27552,2004-03-10,44894.74,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.00
10,119,DB933704,2004-11-14,19501.82,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",,Nantes,,44000,France,1370,118200.00
11,119,LN373447,2004-08-08,47924.19,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",,Nantes,,44000,France,1370,118200.00
12,119,NG94694,2005-02-22,49523.67,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",,Nantes,,44000,France,1370,118200.00
13,121,DB889831,2003-02-16,50218.95,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,,Stavern,,4110,Norway,1504,81700.00
14,121,FD317790,2003-10-28,1491.38,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,,Stavern,,4110,Norway,1504,81700.00
15,121,KI831359,2004-11-04,17876.32,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,,Stavern,,4110,Norway,1504,81700.00
16,121,MA302151,2004-11-28,34638.14,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,,Stavern,,4110,Norway,1504,81700.00
17,124,AE215433,2005-03-05,101244.59,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00
18,124,BG255406,2004-08-28,85410.87,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00
19,124,CQ287967,2003-04-11,11044.30,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00
20,124,ET64396,2005-04-16,83598.04,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00
21,124,HI366474,2004-12-27,47142.70,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00
22,124,HR86578,2004-11-02,55639.66,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00
23,124,KI131716,2003-08-15,111654.40,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00
24,124,LF217299,2004-03-26,43369.30,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00
25,124,NT141748,2003-11-25,45084.38,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00
26,128,DI925118,2003-01-28,10549.01,"Blauer See Auto, Co.",Keitel,Roland,+49 69 66 90 2555,Lyonerstr. 34,,Frankfurt,,60528,Germany,1504,59700.00
27,128,FA465482,2003-10-18,24101.81,"Blauer See Auto, Co.",Keitel,Roland,+49 69 66 90 2555,Lyonerstr. 34,,Frankfurt,,60528,Germany,1504,59700.00
28,128,FH668230,2004-03-24,33820.62,"Blauer See Auto, Co.",Keitel,Roland,+49 69 66 90 2555,Lyonerstr. 34,,Frankfurt,,60528,Germany,1504,59700.00
29,128,IP383901,2004-11-18,7466.32,"Blauer See Auto, Co.",Keitel,Roland,+49 69 66 90 2555,Lyonerstr. 34,,Frankfurt,,60528,Germany,1504,59700.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,455,HA777606,2003-12-05,38139.18,Super Scale Inc.,Murphy,Leslie,2035559545,567 North Pendale Street,,New Haven,CT,97823,USA,1286,95400.00
244,455,IR662429,2004-05-12,32239.47,Super Scale Inc.,Murphy,Leslie,2035559545,567 North Pendale Street,,New Haven,CT,97823,USA,1286,95400.00
245,456,GJ715659,2004-11-13,27550.51,Microscale Inc.,Choi,Yu,2125551957,5290 North Pendale Street,Suite 200,NYC,NY,10022,USA,1286,39800.00
246,456,MO743231,2004-04-30,1679.92,Microscale Inc.,Choi,Yu,2125551957,5290 North Pendale Street,Suite 200,NYC,NY,10022,USA,1286,39800.00
247,458,DD995006,2004-11-15,33145.56,"Corrida Auto Replicas, Ltd",Sommer,Martín,(91) 555 22 82,"C/ Araquil, 67",,Madrid,,28023,Spain,1702,104600.00
248,458,NA377824,2004-02-06,22162.61,"Corrida Auto Replicas, Ltd",Sommer,Martín,(91) 555 22 82,"C/ Araquil, 67",,Madrid,,28023,Spain,1702,104600.00
249,458,OO606861,2003-06-13,57131.92,"Corrida Auto Replicas, Ltd",Sommer,Martín,(91) 555 22 82,"C/ Araquil, 67",,Madrid,,28023,Spain,1702,104600.00
250,462,ED203908,2005-04-15,30293.77,FunGiftIdeas.com,Benitez,Violeta,5085552555,1785 First Street,,New Bedford,MA,50553,USA,1216,85800.00
251,462,GC60330,2003-11-08,9977.85,FunGiftIdeas.com,Benitez,Violeta,5085552555,1785 First Street,,New Bedford,MA,50553,USA,1216,85800.00
252,462,PE176846,2004-11-27,48355.87,FunGiftIdeas.com,Benitez,Violeta,5085552555,1785 First Street,,New Bedford,MA,50553,USA,1216,85800.00
253,471,AB661578,2004-07-28,9415.13,"Australian Collectables, Ltd",Clenahan,Sean,61-9-3844-6555,7 Allen Street,,Glen Waverly,Victoria,3150,Australia,1611,60300.00
254,471,CO645196,2003-12-10,35505.63,"Australian Collectables, Ltd",Clenahan,Sean,61-9-3844-6555,7 Allen Street,,Glen Waverly,Victoria,3150,Australia,1611,60300.00
255,473,LL427009,2004-02-17,7612.06,Frau da Collezione,Ricotti,Franco,+39 022515555,20093 Cologno Monzese,Alessandro Volta 16,Milan,,,Italy,1401,34800.00
256,473,PC688499,2003-10-27,17746.26,Frau da Collezione,Ricotti,Franco,+39 022515555,20093 Cologno Monzese,Alessandro Volta 16,Milan,,,Italy,1401,34800.00
257,475,JP113227,2003-12-09,7678.25,West Coast Collectables Co.,Thompson,Steve,3105553722,3675 Furth Circle,,Burbank,CA,94019,USA,1166,55400.00
258,475,PB951268,2004-02-13,36070.47,West Coast Collectables Co.,Thompson,Steve,3105553722,3675 Furth Circle,,Burbank,CA,94019,USA,1166,55400.00
259,484,GK294076,2004-10-26,3474.66,"Iberia Gift Imports, Corp.",Roel,José Pedro,(95) 555 82 82,"C/ Romero, 33",,Sevilla,,41101,Spain,1702,65700.00
260,484,JH546765,2003-11-29,47513.19,"Iberia Gift Imports, Corp.",Roel,José Pedro,(95) 555 82 82,"C/ Romero, 33",,Sevilla,,41101,Spain,1702,65700.00
261,486,BL66528,2004-04-14,5899.38,Motor Mint Distributors Inc.,Salazar,Rosa,2155559857,11328 Douglas Av.,,Philadelphia,PA,71270,USA,1323,72600.00
262,486,HS86661,2004-11-23,45994.07,Motor Mint Distributors Inc.,Salazar,Rosa,2155559857,11328 Douglas Av.,,Philadelphia,PA,71270,USA,1323,72600.00
263,486,JB117768,2003-03-20,25833.14,Motor Mint Distributors Inc.,Salazar,Rosa,2155559857,11328 Douglas Av.,,Philadelphia,PA,71270,USA,1323,72600.00
264,487,AH612904,2003-09-28,29997.09,Signal Collectibles Ltd.,Taylor,Sue,4155554312,2793 Furth Circle,,Brisbane,CA,94217,USA,1165,60300.00
265,487,PT550181,2004-02-29,12573.28,Signal Collectibles Ltd.,Taylor,Sue,4155554312,2793 Furth Circle,,Brisbane,CA,94217,USA,1165,60300.00
266,489,OC773849,2003-12-04,22275.73,"Double Decker Gift Stores, Ltd",Smith,Thomas,(171) 555-7555,120 Hanover Sq.,,London,,WA1 1DP,UK,1501,43300.00
267,489,PO860906,2004-01-31,7310.42,"Double Decker Gift Stores, Ltd",Smith,Thomas,(171) 555-7555,120 Hanover Sq.,,London,,WA1 1DP,UK,1501,43300.00
268,495,BH167026,2003-12-26,59265.14,Diecast Collectables,Franco,Valarie,6175552555,6251 Ingle Ln.,,Boston,MA,51003,USA,1188,85100.00
269,495,FN155234,2004-05-14,6276.60,Diecast Collectables,Franco,Valarie,6175552555,6251 Ingle Ln.,,Boston,MA,51003,USA,1188,85100.00
270,496,EU531600,2005-05-25,30253.75,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
271,496,MB342426,2003-07-16,32077.44,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
272,496,MN89921,2004-12-31,52166.00,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [10]:
cur.execute("""select * from orders
                        join payments 
                        on orders.orderDate = payments.paymentDate
                       """)
df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cur.description]
df

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber,customerNumber,checkNumber,paymentDate,amount
0,10116,2003-04-11,2003-04-19,2003-04-13,Shipped,,381,124,CQ287967,2003-04-11,11044.30
1,10117,2003-04-16,2003-04-24,2003-04-17,Shipped,,148,424,LM271923,2003-04-16,21665.98
2,10123,2003-05-20,2003-05-29,2003-05-22,Shipped,,103,114,GG31455,2003-05-20,45864.03
3,10124,2003-05-21,2003-05-29,2003-05-25,Shipped,Customer very concerned about the exact color ...,112,353,GT878649,2003-05-21,16700.47
4,10125,2003-05-21,2003-05-27,2003-05-24,Shipped,,114,353,GT878649,2003-05-21,16700.47
5,10128,2003-06-06,2003-06-12,2003-06-11,Shipped,,141,112,HQ55022,2003-06-06,32641.98
6,10132,2003-06-25,2003-07-01,2003-06-28,Shipped,,323,447,ER615123,2003-06-25,17032.29
7,10138,2003-07-07,2003-07-16,2003-07-13,Shipped,,496,324,FP443161,2003-07-07,29429.14
8,10139,2003-07-16,2003-07-23,2003-07-21,Shipped,,282,496,MB342426,2003-07-16,32077.44
9,10147,2003-09-05,2003-09-12,2003-09-09,Shipped,,379,205,LL562733,2003-09-05,50342.74
10,10153,2003-09-28,2003-10-05,2003-10-03,Shipped,,141,276,LE432182,2003-09-28,41554.73
11,10153,2003-09-28,2003-10-05,2003-10-03,Shipped,,141,487,AH612904,2003-09-28,29997.09
12,10155,2003-10-06,2003-10-13,2003-10-07,Shipped,,186,311,FA728475,2003-10-06,32723.04
13,10161,2003-10-17,2003-10-25,2003-10-20,Shipped,,227,333,JK479662,2003-10-17,9821.32
14,10162,2003-10-18,2003-10-26,2003-10-19,Shipped,,321,128,FA465482,2003-10-18,24101.81
15,10162,2003-10-18,2003-10-26,2003-10-19,Shipped,,321,219,BR941480,2003-10-18,4465.85
16,10163,2003-10-20,2003-10-27,2003-10-24,Shipped,,424,201,DP677013,2003-10-20,23908.24
17,10168,2003-10-28,2003-11-03,2003-11-01,Shipped,,161,121,FD317790,2003-10-28,1491.38
18,10178,2003-11-08,2003-11-16,2003-11-10,Shipped,Custom shipping instructions sent to warehouse,242,462,GC60330,2003-11-08,9977.85
19,10183,2003-11-13,2003-11-22,2003-11-15,Shipped,We need to keep in close contact with their Ma...,339,276,KM841847,2003-11-13,38547.19
20,10187,2003-11-15,2003-11-24,2003-11-16,Shipped,,211,333,HL209210,2003-11-15,23936.53
21,10187,2003-11-15,2003-11-24,2003-11-16,Shipped,,211,452,ED473873,2003-11-15,27121.90
22,10188,2003-11-18,2003-11-26,2003-11-24,Shipped,,167,161,BR478494,2003-11-18,50743.65
23,10188,2003-11-18,2003-11-26,2003-11-24,Shipped,,167,233,JG981190,2003-11-18,16909.84
24,10188,2003-11-18,2003-11-26,2003-11-24,Shipped,,167,386,DO106109,2003-11-18,38524.29
25,10189,2003-11-18,2003-11-25,2003-11-24,Shipped,They want to reevaluate their terms agreement ...,205,161,BR478494,2003-11-18,50743.65
26,10189,2003-11-18,2003-11-25,2003-11-24,Shipped,They want to reevaluate their terms agreement ...,205,233,JG981190,2003-11-18,16909.84
27,10189,2003-11-18,2003-11-25,2003-11-24,Shipped,They want to reevaluate their terms agreement ...,205,386,DO106109,2003-11-18,38524.29
28,10190,2003-11-19,2003-11-29,2003-11-20,Shipped,,141,175,IO448913,2003-11-19,24879.08
29,10191,2003-11-20,2003-11-30,2003-11-24,Shipped,We must be cautions with this customer. Their ...,259,452,FN640986,2003-11-20,15130.97
...,...,...,...,...,...,...,...,...,...,...,...
88,10335,2004-11-19,2004-11-29,2004-11-23,Shipped,,124,157,HI618861,2004-11-19,35152.12
89,10335,2004-11-19,2004-11-29,2004-11-23,Shipped,,124,385,CP804873,2004-11-19,15822.84
90,10339,2004-11-23,2004-11-30,2004-11-30,Shipped,,398,486,HS86661,2004-11-23,45994.07
91,10346,2004-11-29,2004-12-05,2004-11-30,Shipped,,112,398,KB54275,2004-11-29,48927.64
92,10347,2004-11-29,2004-12-07,2004-11-30,Shipped,Can we deliver the new Ford Mustang models by ...,114,398,KB54275,2004-11-29,48927.64
93,10348,2004-11-01,2004-11-08,2004-11-05,Shipped,,458,141,DB583216,2004-11-01,36140.38
94,10349,2004-12-01,2004-12-07,2004-12-03,Shipped,,151,145,HR182688,2004-12-01,20564.86
95,10350,2004-12-02,2004-12-08,2004-12-05,Shipped,,141,131,MA724562,2004-12-02,50025.35
96,10351,2004-12-03,2004-12-11,2004-12-07,Shipped,,324,381,BC726082,2004-12-03,12081.52
97,10352,2004-12-03,2004-12-12,2004-12-09,Shipped,,198,381,BC726082,2004-12-03,12081.52
98,10353,2004-12-04,2004-12-11,2004-12-05,Shipped,,447,172,CE51751,2004-12-04,51209.58
99,10354,2004-12-04,2004-12-10,2004-12-05,Shipped,,323,172,CE51751,2004-12-04,51209.58
100,10355,2004-12-07,2004-12-14,2004-12-13,Shipped,,141,424,KF480160,2004-12-07,25505.98
101,10359,2004-12-15,2004-12-23,2004-12-18,Shipped,,353,114,MA765515,2004-12-15,82261.22
102,10361,2004-12-17,2004-12-24,2004-12-20,Shipped,,282,112,BO864823,2004-12-17,14191.12
103,10361,2004-12-17,2004-12-24,2004-12-20,Shipped,,282,447,OU516561,2004-12-17,26304.13
104,10366,2005-01-10,2005-01-19,2005-01-12,Shipped,,381,353,CO351193,2005-01-10,49705.52
105,10374,2005-02-02,2005-02-09,2005-02-03,Shipped,,333,161,KG644125,2005-02-02,12692.19
106,10375,2005-02-03,2005-02-10,2005-02-06,Shipped,,119,381,GB117430,2005-02-03,14379.90
107,10377,2005-02-09,2005-02-21,2005-02-12,Shipped,Cautious optimism. We have happy customers her...,186,276,EM979878,2005-02-09,27083.78
108,10383,2005-02-22,2005-03-02,2005-02-25,Shipped,,141,119,NG94694,2005-02-22,49523.67
109,10386,2005-03-01,2005-03-09,2005-03-06,Resolved,Disputed then Resolved on 3/15/2005. Customer ...,141,333,NF959653,2005-03-01,21432.31
110,10387,2005-03-02,2005-03-09,2005-03-06,Shipped,We need to keep in close contact with their Ma...,148,219,BN17870,2005-03-02,3452.75
111,10392,2005-03-10,2005-03-18,2005-03-12,Shipped,,452,186,AE192287,2005-03-10,23602.90
112,10394,2005-03-15,2005-03-25,2005-03-19,Shipped,,141,321,LA556321,2005-03-15,46781.66
113,10406,2005-04-15,2005-04-25,2005-04-21,Disputed,Customer claims container with shipment was da...,145,462,ED203908,2005-04-15,30293.77
114,10409,2005-04-23,2005-05-05,2005-04-24,Shipped,,166,406,BJMPR4545,2005-04-23,12190.85
115,10412,2005-05-03,2005-05-13,2005-05-05,Shipped,,141,209,BOAF82044,2005-05-03,35157.75
116,10412,2005-05-03,2005-05-13,2005-05-05,Shipped,,141,452,HG635467,2005-05-03,8807.12
117,10419,2005-05-17,2005-05-28,2005-05-19,Shipped,,382,250,EQ12267,2005-05-17,17928.09

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and all the product information for each product in the order.

In [13]:
cur.execute("""select * from orders
                        join payments 
                        on orders.orderDate = payments.paymentDate
                       """)
df = pd.DataFrame(cur.fetchall()) #Take results and create dataframe
df.columns = [i[0] for i in cur.description]
df

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber,customerNumber,checkNumber,paymentDate,amount
0,10116,2003-04-11,2003-04-19,2003-04-13,Shipped,,381,124,CQ287967,2003-04-11,11044.30
1,10117,2003-04-16,2003-04-24,2003-04-17,Shipped,,148,424,LM271923,2003-04-16,21665.98
2,10123,2003-05-20,2003-05-29,2003-05-22,Shipped,,103,114,GG31455,2003-05-20,45864.03
3,10124,2003-05-21,2003-05-29,2003-05-25,Shipped,Customer very concerned about the exact color ...,112,353,GT878649,2003-05-21,16700.47
4,10125,2003-05-21,2003-05-27,2003-05-24,Shipped,,114,353,GT878649,2003-05-21,16700.47
5,10128,2003-06-06,2003-06-12,2003-06-11,Shipped,,141,112,HQ55022,2003-06-06,32641.98
6,10132,2003-06-25,2003-07-01,2003-06-28,Shipped,,323,447,ER615123,2003-06-25,17032.29
7,10138,2003-07-07,2003-07-16,2003-07-13,Shipped,,496,324,FP443161,2003-07-07,29429.14
8,10139,2003-07-16,2003-07-23,2003-07-21,Shipped,,282,496,MB342426,2003-07-16,32077.44
9,10147,2003-09-05,2003-09-12,2003-09-09,Shipped,,379,205,LL562733,2003-09-05,50342.74
10,10153,2003-09-28,2003-10-05,2003-10-03,Shipped,,141,276,LE432182,2003-09-28,41554.73
11,10153,2003-09-28,2003-10-05,2003-10-03,Shipped,,141,487,AH612904,2003-09-28,29997.09
12,10155,2003-10-06,2003-10-13,2003-10-07,Shipped,,186,311,FA728475,2003-10-06,32723.04
13,10161,2003-10-17,2003-10-25,2003-10-20,Shipped,,227,333,JK479662,2003-10-17,9821.32
14,10162,2003-10-18,2003-10-26,2003-10-19,Shipped,,321,128,FA465482,2003-10-18,24101.81
15,10162,2003-10-18,2003-10-26,2003-10-19,Shipped,,321,219,BR941480,2003-10-18,4465.85
16,10163,2003-10-20,2003-10-27,2003-10-24,Shipped,,424,201,DP677013,2003-10-20,23908.24
17,10168,2003-10-28,2003-11-03,2003-11-01,Shipped,,161,121,FD317790,2003-10-28,1491.38
18,10178,2003-11-08,2003-11-16,2003-11-10,Shipped,Custom shipping instructions sent to warehouse,242,462,GC60330,2003-11-08,9977.85
19,10183,2003-11-13,2003-11-22,2003-11-15,Shipped,We need to keep in close contact with their Ma...,339,276,KM841847,2003-11-13,38547.19
20,10187,2003-11-15,2003-11-24,2003-11-16,Shipped,,211,333,HL209210,2003-11-15,23936.53
21,10187,2003-11-15,2003-11-24,2003-11-16,Shipped,,211,452,ED473873,2003-11-15,27121.90
22,10188,2003-11-18,2003-11-26,2003-11-24,Shipped,,167,161,BR478494,2003-11-18,50743.65
23,10188,2003-11-18,2003-11-26,2003-11-24,Shipped,,167,233,JG981190,2003-11-18,16909.84
24,10188,2003-11-18,2003-11-26,2003-11-24,Shipped,,167,386,DO106109,2003-11-18,38524.29
25,10189,2003-11-18,2003-11-25,2003-11-24,Shipped,They want to reevaluate their terms agreement ...,205,161,BR478494,2003-11-18,50743.65
26,10189,2003-11-18,2003-11-25,2003-11-24,Shipped,They want to reevaluate their terms agreement ...,205,233,JG981190,2003-11-18,16909.84
27,10189,2003-11-18,2003-11-25,2003-11-24,Shipped,They want to reevaluate their terms agreement ...,205,386,DO106109,2003-11-18,38524.29
28,10190,2003-11-19,2003-11-29,2003-11-20,Shipped,,141,175,IO448913,2003-11-19,24879.08
29,10191,2003-11-20,2003-11-30,2003-11-24,Shipped,We must be cautions with this customer. Their ...,259,452,FN640986,2003-11-20,15130.97
...,...,...,...,...,...,...,...,...,...,...,...
88,10335,2004-11-19,2004-11-29,2004-11-23,Shipped,,124,157,HI618861,2004-11-19,35152.12
89,10335,2004-11-19,2004-11-29,2004-11-23,Shipped,,124,385,CP804873,2004-11-19,15822.84
90,10339,2004-11-23,2004-11-30,2004-11-30,Shipped,,398,486,HS86661,2004-11-23,45994.07
91,10346,2004-11-29,2004-12-05,2004-11-30,Shipped,,112,398,KB54275,2004-11-29,48927.64
92,10347,2004-11-29,2004-12-07,2004-11-30,Shipped,Can we deliver the new Ford Mustang models by ...,114,398,KB54275,2004-11-29,48927.64
93,10348,2004-11-01,2004-11-08,2004-11-05,Shipped,,458,141,DB583216,2004-11-01,36140.38
94,10349,2004-12-01,2004-12-07,2004-12-03,Shipped,,151,145,HR182688,2004-12-01,20564.86
95,10350,2004-12-02,2004-12-08,2004-12-05,Shipped,,141,131,MA724562,2004-12-02,50025.35
96,10351,2004-12-03,2004-12-11,2004-12-07,Shipped,,324,381,BC726082,2004-12-03,12081.52
97,10352,2004-12-03,2004-12-12,2004-12-09,Shipped,,198,381,BC726082,2004-12-03,12081.52
98,10353,2004-12-04,2004-12-11,2004-12-05,Shipped,,447,172,CE51751,2004-12-04,51209.58
99,10354,2004-12-04,2004-12-10,2004-12-05,Shipped,,323,172,CE51751,2004-12-04,51209.58
100,10355,2004-12-07,2004-12-14,2004-12-13,Shipped,,141,424,KF480160,2004-12-07,25505.98
101,10359,2004-12-15,2004-12-23,2004-12-18,Shipped,,353,114,MA765515,2004-12-15,82261.22
102,10361,2004-12-17,2004-12-24,2004-12-20,Shipped,,282,112,BO864823,2004-12-17,14191.12
103,10361,2004-12-17,2004-12-24,2004-12-20,Shipped,,282,447,OU516561,2004-12-17,26304.13
104,10366,2005-01-10,2005-01-19,2005-01-12,Shipped,,381,353,CO351193,2005-01-10,49705.52
105,10374,2005-02-02,2005-02-09,2005-02-03,Shipped,,333,161,KG644125,2005-02-02,12692.19
106,10375,2005-02-03,2005-02-10,2005-02-06,Shipped,,119,381,GB117430,2005-02-03,14379.90
107,10377,2005-02-09,2005-02-21,2005-02-12,Shipped,Cautious optimism. We have happy customers her...,186,276,EM979878,2005-02-09,27083.78
108,10383,2005-02-22,2005-03-02,2005-02-25,Shipped,,141,119,NG94694,2005-02-22,49523.67
109,10386,2005-03-01,2005-03-09,2005-03-06,Resolved,Disputed then Resolved on 3/15/2005. Customer ...,141,333,NF959653,2005-03-01,21432.31
110,10387,2005-03-02,2005-03-09,2005-03-06,Shipped,We need to keep in close contact with their Ma...,148,219,BN17870,2005-03-02,3452.75
111,10392,2005-03-10,2005-03-18,2005-03-12,Shipped,,452,186,AE192287,2005-03-10,23602.90
112,10394,2005-03-15,2005-03-25,2005-03-19,Shipped,,141,321,LA556321,2005-03-15,46781.66
113,10406,2005-04-15,2005-04-25,2005-04-21,Disputed,Customer claims container with shipment was da...,145,462,ED203908,2005-04-15,30293.77
114,10409,2005-04-23,2005-05-05,2005-04-24,Shipped,,166,406,BJMPR4545,2005-04-23,12190.85
115,10412,2005-05-03,2005-05-13,2005-05-05,Shipped,,141,209,BOAF82044,2005-05-03,35157.75
116,10412,2005-05-03,2005-05-13,2005-05-05,Shipped,,141,452,HG635467,2005-05-03,8807.12
117,10419,2005-05-17,2005-05-28,2005-05-19,Shipped,,382,250,EQ12267,2005-05-17,17928.09

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!